body {
    background: rgb(244, 229, 236);
    background: linear-gradient(180deg, rgba(244, 229, 236, 1) 0%, rgba(217, 229, 243, 1) 100%) fixed;
}

.calc {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: #DCC8DD;
    height: 450px;
    width: 340px;
    border-radius: 51px;
    border: none;
    box-shadow: 0px 0px 30px 0px #3d3d3d;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 60px 20px 40px 20px;
}

.output {
    margin: 0px;
    position: relative;
    background-color: rgb(234, 234, 234);
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #878787;
}

button {
    font-family: Century Gothic, Arial;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #DFBCC8;
    border: none;
    box-shadow: 5px 5px 10px #878787;
    margin: 8px
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;


}


.buttons-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

.buttons-number button {

    border-radius: 20px;
    height: 60px;
    width: 60px;

}

.buttons-side button {

    border-radius: 15px;
    height: 40px;
    width: 40px;


}

#c {
    background-color: #9E6D85;
}